a {
  display: inline-block;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  font-family: Arial;
  text-decoration: none;
  background: #caf;
  color: #217;
}

a:hover { /* Para quando passar o mouse por cima */
  background: #adf;
  color: #147;
}

a:focus { /* Para quando tiver em foco */
  background: #cfa;
  color: #371;
  /* outline: none;
  border: 2px solid red; */
}

a:active { /* Para quando clicar no botao */
  background: #ffa;
  color: #761;
}

a:visited { /* Para quando o link for visitado */
  background: #fda;
  color: #731;
}