body {
  font-size: 2rem;
}

.titulo {
  color: tomato;
  padding: 10px;
}

#produtos {
  color: lightgreen;
}

/* #intro #servicos {
  color: aqua;
}

#servicos {
  color: red;
} */

.titulo.teste {
  color: blue;
}

.titulo {
  color: tomato;
  padding: 10px;
}

html body section h2 {
  border-left: 8px solid lightgreen;
}

body section#intro h2 {
  border-left: 8px solid lightsalmon;
}

/* h2 {
  color: black !important;
} */
