img {
  width: 100%;
  display: block;
}

div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 1rem;
}

@media (min-width: 400px) {
  .minmax img {
    /* grid-row: 2; */
    order: 2; /* reeordena o elemento HTML */
  }
}

.galeria {
  grid-template-columns: repeat(auto-fit, 150px);

}

p {
  font-size: 2rem;
}