.bicicleta {
  height: 600px;
  background-color: lightblue;
  background-image: url("./img/bicicleta.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  /* background: lightblue url("./img/bicicleta.jpg") no-repeat cover center top; */
  display: flex;
}

h1 {
  margin: auto;
  background: white;
  padding: 1rem 2rem;
}
