/* 
body {
  font-family: Arial;
}

h1 {
  padding: 20px;
  text-align: center;
}

h2 {
  color: #fff;
  margin-left: 10px;
}

h2 p {
  display: inline-block;
}

div {
  background: #111;
  margin: 30px;
  border-radius: 4px;
}

button {
  background: #febe01;
  color: #332200;
  border-radius: 4px;
  margin-bottom: 10px;
  margin-left: 10px;
  font-size: 20px;
  padding: 10px;
}

p {
  color: #b2b2b2;
  margin-left: 10px;
}

.preco, span {
  color:  #febe01;
} */

body {
  font-family: Arial;
  margin: 50px;
}

h1 {
  text-align: center;
}

h2 {
  margin: 0px;
}

.item {
  background: #111;
  color: #fff;
  padding: 30px;
  margin: 20px;
  border-radius: 4px;
}

span {
  color: #febe01;
}

p {
  color: #b2b2b2;
}

a {
  display: inline-block;
  background: #febe01;
  color: #332200;
  padding: 10px;
  border-radius: 4px;
  text-decoration: none;
}