body {
  font-family: Arial;
}

h1 {
  text-align: center;
}

h2 {
  margin-top: 0px;
}

.comprar {
  background: #a8f;
  color: #103;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 4px;
}

.item {
  background: #f7f7f7;
  border: 1px solid #e7e7e7;
  /* margin-bottom: 20px; */
  padding: 20px;
  border-radius: 4px;
  display: grid;
}

.grid {
  display: grid;
  /* grid-template-columns: 300px 300px; */
  grid-template-columns: auto auto; /* Utilizando ele como auto, o justify center, nao funciona, ele precisa de alguma unidade como px */
  gap: 20px;
  /* justify-content: center; */
  /* justify-content: start;
  justify-content: end; */
  /* justify-content: space-between; */
  /* justify-content: space-around; */
  justify-content: space-evenly;
}

.grid {
  /* Precisa ter espaço sobrando para alinhar o conteúdo, nesse caso utilizou height */
  height: 800px;
  align-content: center;
  /* justify-content: space-evenly; */
  align-content: space-evenly;
  place-content: center space-evenly; /* É um atalho para utilizar align e justify juntos */
}
